@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root{
  --green-emerauld: 150 100% 42%;
  --white: 0 0% 100%;
  --black:  0 0% 7%;
  --grey: 240 0% 40%;
  --blues: linear-gradient(90deg, hsl(150, 100%, 42%), hsl(240, 0%, 40%));
  --bluesinvert: linear-gradient(90deg, hsl(150, 100%, 42%), hsl(240, 0%, 40%));
  
  --buttonrv: var(--bluesinvert);
  --button: var(--blues);
  --text-grey: var(--grey);
  --text-white: var(--white);
  --background: var(--black);
  --text-green: var(--green-emerauld);
  }
}


